<% include ../partials/header %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Survey</th>
      <th>Participant</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    // (3) Loop through all the survey answers ...
      <tr>
        <td><%= answer.surveyQuestionList.title %></td>
        <td><%= answer.participant %></td>
        <td>
          <a href="/surveyAnswers / show/">Show</a>
          |
          <a href="/surveyAnswers/new/<%= answer.surveyQuestionList._id %>">Answer</a>
        </td>
      </tr>
    // Don't forget to close
</table>